In [1]:
import pandas as pd

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [25]:
# ml-latest   c   https://grouplens.org/datasets/movielens/latest/
ratings = pd.read_csv('ml_latest/ratings.csv')
movies = pd.read_csv('ml_latest/movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')

# вывод названия фильма, не id
joined['title'].value_counts().head(1)

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [49]:
data = pd.read_csv('p1_data/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [57]:
filtered_data = data[ ((data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia')) & (data['quantity'] > 0) & ((data['category'] == 4) | (data['category'] == 12 | (data['category'] == 21))) & (data['year'] >= 2005) & (data['year'] <= 2010) ]

sum(filtered_data['quantity'])

2191.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [77]:
data1 = pd.read_html('https://www.cbr.ru/key-indicators/')[0]
data2 = pd.read_html('https://www.cbr.ru/key-indicators/')[1]
data3 = pd.read_html('https://www.cbr.ru/key-indicators/')[2]
data4 = pd.read_html('https://www.cbr.ru/key-indicators/')[3]
data5 = pd.read_html('https://www.cbr.ru/key-indicators/')[4]

In [68]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
 2   2       3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [72]:
data

                 0           1           2
0           валюта  10.04.2021  13.04.2021
1  Доллар США  USD      771657      775104
2        Евро  EUR      917809      920669

In [73]:
data2

                 0           1           2
0  рублей за грамм  10.04.2021  13.04.2021
1       Золото  Au    4 336,55    4 339,97
2      Серебро  Ag        6258        6270
3      Платина  Pt    3 009,37    2 955,53
4     Палладий  Pd    6 514,93    6 573,94

In [74]:
data3

                               0         1         2          3
0                      % годовых    1 день  2-7 дней  8-30 дней
1          MIACR  за  09.04.2021       447         —          —
2         RUONIA  за  09.04.2021       443       NaN        NaN
3                      % годовых    1 день  1 неделя    1 месяц
4  MosPrime Rate  на  12.04.2021       464       468        491
5                      % годовых  1 неделя  2 недели    1 месяц
6        ROISfix  на  12.04.2021       440       444        462

In [76]:
# тут уже что-то странное вернулось
# на сайте 574,8
data4

                0       1
0  млрд долл. США     NaN
1      02.04.2021  5748.0

In [78]:
data5

                                                   0         1
0                                          млрд руб.       NaN
1  Структурный дефицит/профицит ликвидности банко...  -1 542,6
2  Сведения об остатках средств на корреспондентс...       NaN
3            по Российской Федерации  на  12.04.2021   3 308,5
4             по Московскому региону  на  12.04.2021   3 143,5
5  Объем предоставленных внутридневных кредитов  ...      1994
6     Депозиты банков в Банке России  на  12.04.2021   1 609,3
7                    ОБР в обращении  на  12.04.2021      6459
8  Сальдо операций Банка России по предоставлению...       979